$white: #ffffff;
$primary: #701a75;
$secondary: #831843;
$gray-400: #9ca3af;
$gray-900: #111827;

// Font Weight
$font-sm: 14px;
$font-semibold: 600;

// Font Size
$text-base: 16px;

// Border Radius
$border-rounded-none: 0;
$border-rounded-sm: 2px;
$border-rounded: 4px;
$border-rounded-md: 5px;
$border-rounded-lg: 8px;
$border-rounded-xl: 10px;
$border-rounded-full: 999px;
